 @keyframes fire {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
.rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 666;
  font-style: normal;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}


  
  body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE	;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
  }
#logo {
    font-family: 'Bona Nova SC' , sans-serif;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    text-transform: uppercase;
}
#logo h1 {
    margin: 20px 0;

}
    .bar a {
    color: black;
    text-decoration: none;
  }

  header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: 0;
    background-color: #CF0A0A;
    width: 100%;
    height: 100px;
    box-shadow: 0 5px 7px 1px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header-text ul {
    display: inline-flex;
    align-items: center;
  }
  .header-text li{
    display: inline-flex;
    margin-bottom: 0px;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
  }

  .searcher {
    display: inline-flex;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0); 
    background-color: #EEEEEE;
  }
  .searcher input {
    border: none;
    width: 150px;
    box-sizing: content-box;
    background-color: #EEEEEE;
    margin-left: 10px;
    font-size: 16px;
    }
    input::placeholder {
      color: #000000;
    }
    input:focus {
      outline: none;
      border: none;
    }
  .search-sm {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #EEEEEE;
  }
  .sub-menu {
    background-color: #EEEEEE;
    border: none;
    position: absolute;
    width: 120px;
    visibility: hidden;
    transition: 0.2s ease-in;
    top: 60px;
    padding-left: 10px;
    box-shadow: 1px 1px #eeeeeec7;
  }
  .sub-menu ul {
    padding: 0;
    margin: 0;
  }
  .sub-menu li {
    display: flex;
    flex-direction: column;
    padding: 0;

  }
  .sub-menu li a {
    font-size: 20px;
    text-align: left;
  }
 
  .bar {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    height: 95%;
    flex: 3;
  }
  #account {
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
  #Log-in {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 2.5px;
    background-color: #000000;
    color: white;
  }
  #Sign-up {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 2.5px;
    background-color: #000000;
    color: white;
  }

  #login-form {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    align-items: center;
    width: 300px;
  }
  #sign-up-form {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    align-items: center;
    width: 300px;
  }
  .submit {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #DC5F00;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
  
  main .picc {
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #878787;
  }
  main .picc img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    opacity: 9;
    filter: brightness(0.9);
  }
  
  #sale-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .Tieude {
    position: relative;
    width: 300px; 
    height: 100px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .Tieude h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  }
  .Tieude::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #DC2F2F, #FF894C, #DC2F2F);
  background-size: 400% 400%;
  animation: fire 3s ease-in-out infinite;
  border-radius: 150px;
  }

  .sale-container-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 1000px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto; 
    margin-top: 20px;
    justify-content: space-around;
  }
  .content-box {
    width: calc(25% - 20px);
    float: left;
    overflow: hidden;
  }

  .content-box img {
    margin: 0 auto;
    height: 250px;
    width: 100%;
    transition: transform .2s;
    display: block;
    max-width: 90%;
    opacity: 9;
    filter: brightness(0.93);
  }

  .content-box img:hover {
    transform: scale(1.2);  
  }
  .content-box h3{
    font-size: 20px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

  }
  .content-box p {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    }
  .price {
    text-decoration: underline;
    color: black;
  }
    
footer {
  margin-bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 54, 54);
  color: white;
}
.container-footer {
  text-align: center;
}
.context-footer img {
  width: 300px;
  height: 200px;
}
.context-footer p a {
  color: white;
  text-decoration: none;
}